@page "{CurrentPage?}"
@using System.Globalization
@model ZEM_Enterprice_WebApp.Pages.Department.Technical.CheckMissingModel
@{
    ViewData["Title"] = "Brakujące kody";
}

<div class="login-clean">
    <div>
        <a class="btn btn-primary" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-1" href="#collapse-1" role="button" id="collapse-button" style="width: 100%">Pokaż opcje filtrowania</a>
        <div class="collapse" id="collapse-1">
            <form id="record-filter-form">
                <h2 class="sr-only">Login Form</h2>
                <div class="illustration">
                    <h1 id="filter-heading">Filtruj wyniki</h1>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label asp-for="@Model.Filter_Date"></label>
                        <input class="form-control" asp-for="@Model.Filter_Date">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label asp-for="@Model.SortColumn"></label>
                        <select asp-for="@Model.SortColumn" asp-items="@Model.availableSortings" class="form-control">
                            <option value="">Brak sortowania</option>
                        </select>
                        <label asp-for="@Model.OrderDescent"></label>
                        <input class="form-control" asp-for="@Model.OrderDescent">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" id="filter-confirm-button" type="submit">
                        Akceptuj
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<form method="post">
    <div class="text-center" style="width:50%; margin:auto">
        <button asp-page-handler="DownloadCsv" class="btn btn-primary btn-block" id="filter-confirm-button" type="submit" style="width:50%">
            Pobierz plik csv
        </button>
    </div>
    <div class="tableFixHead">
        <table class="table">
            <thead>
                <tr>
                    <th>Kod</th>
                    <th>Data Dodania</th>
                    <th>Użytkownik</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var record in Model.Data)
                {
                    <tr>
                        <td>@record.Kod</td>
                        <td>@record.DataDodania.ToString("d", CultureInfo.CreateSpecificCulture("de-DE"))</td>
                        <td>@record.User</td>
                        <td>
                            <button type="submit" asp-page-handler="DeleteRecord" asp-route-id="@record.Kod" class="btn btn-sm btn-danger">
                                Usuń
                            </button>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <ul class="pagination">
            <li class="page-item @(!Model.Data.HasPreviousPage? "disabled":"")">
                <a asp-page="/Department/Technical/ViewTechResults"
                   asp-route-CurrentPage="1"
                   asp-route-Filter_Wiazka="@Model.Filter_Date"
                   asp-route-SortColumn="@Model.SortColumn"
                   asp-route-OrderDescent="@Model.OrderDescent"
                   class="page-link">Pierwsza</a>
            </li>

            <li class="page-item @(!Model.Data.HasPreviousPage? "disabled":"")">
                <a asp-page="/Department/Technical/ViewTechResults"
                   asp-route-CurrentPage="@(Model.Data.PageIndex -1)"
                   asp-route-Filter_Wiazka="@Model.Filter_Date"
                   asp-route-SortColumn="@Model.SortColumn"
                   asp-route-OrderDescent="@Model.OrderDescent"
                   class="page-link">Poprzednia</a>
            </li>
            <li class="page-item  @(!Model.Data.HasNextPage? "disabled":"")">
                <a asp-page="/Department/Technical/ViewTechResults"
                   asp-route-CurrentPage="@(Model.Data.PageIndex + 1)"
                   asp-route-Filter_Wiazka="@Model.Filter_Date"
                   asp-route-SortColumn="@Model.SortColumn"
                   asp-route-OrderDescent="@Model.OrderDescent"
                   class="page-link">Następna</a>
            </li>

            <li class="page-item  @(!Model.Data.HasNextPage? "disabled":"")">
                <a asp-page="/Department/Technical/ViewTechResults"
                   asp-route-CurrentPage="@Model.Data.TotalPages"
                   asp-route-Filter_Wiazka="@Model.Filter_Date"
                   asp-route-SortColumn="@Model.SortColumn"
                   asp-route-OrderDescent="@Model.OrderDescent"
                   class="page-link">Ostatnia</a>
            </li>
        </ul>
    </div>
</form>