@page
@using Microsoft.AspNetCore.Authorization
@using ZEM_Enterprice_WebApp.Utilities
@inject IAuthorizationService _AuthService
@inject ApplicationDbContext _db
@model ZEM_Enterprice_WebApp.Pages.MainPageModel
@{
    ViewData["Title"] = "Strona główna";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <div class="row">
        @if ((await _AuthService.AuthorizeAsync(User, DefaultRequirements.AdminOrTech.ToString())).Succeeded)
        {
            <div class="col text-center column-div">
                <div>
                    <i class="fa fa-wrench kolumn-icon"></i>
                    <h1 style="font-size: 20px;font-weight: bold;">Dział techniczny</h1>
                    <a class="link-column" asp-page="/Department/Technical/ViewTechResults"><br>Zarządzaj bazą wiązek<br></a>
                    <hr><a class="link-column" asp-page="/Department/Technical/UploadFile"><br>Wyślij plik z wiązkami<br></a>
                    <hr><a class="link-column" asp-page="/Department/Technical/ConfirmChanges"><br>Oczekujące zmiany (@_db.PendingChangesTechnical.Count())<br></a>
                    <hr><a class="link-column" asp-page="/Department/Technical/CheckMissing"><br>Brakujące kody skany (@_db.MissingFromTech.Count())<br></a>
                    <hr><a class="link-column" asp-page="/Department/Office/ConfirmMissing"><br>Brakujące kody dostawa (@_db.PendingDostawa.Count())<br></a>
                </div>
            </div>
        }
        @if ((await _AuthService.AuthorizeAsync(User, DefaultRequirements.AdminOrScanner.ToString())).Succeeded)
        {
            <div class="col text-center column-div">
                <div>
                    <i class="fa fa-barcode kolumn-icon"></i>
                    <h1 style="font-size: 20px;font-weight: bold;">Dział skanowań</h1>
                    <a class="link-column" asp-page="/Department/Scanner/ScannerForm"><br>Skanuj</a>
                    <hr><a class="link-column" asp-page="/Department/Scanner/CheckBIN"><br>Sprawdź BIN<br></a>
                    <hr><a class="link-column" asp-page="/Department/Office/DifferenceReportForm"><br>Wykaz różnic<br></a>
                    <hr><a class="link-column" asp-page="/Department/Scanner/ShowMissing"><br>Brakujące kody<br></a>
                </div>
            </div>
        }
        @if ((await _AuthService.AuthorizeAsync(User, DefaultRequirements.AdminOrOffice.ToString())).Succeeded)
        {
            <div class="col text-center column-div">
                <div>
                    <i class="fa fa-briefcase kolumn-icon"></i>
                    <h1 style="font-size: 20px;font-weight: bold;">Dział biurowy</h1>
                    <a class="link-column" asp-page="/Department/Office/UploadSupplyFile"><br>Importuj plik dostawy<br></a>
                    <hr><a class="link-column" asp-page="/Department/Office/ConfirmMissing"><br>Brakujące kody (@_db.PendingDostawa.Count())<br></a>
                    <hr><a class="link-column" asp-page="/Department/Office/ViewSupply"><br>Wyświetl dostawy<br></a>
                    <hr><a class="link-column" asp-page="/Department/Office/ViewVTMagazyn"><br>Wyświetl magazyn VT<br></a>
                    <hr><a class="link-column" asp-page="/Department/Office/DifferenceReportForm"><br>Wykaz różnic<br></a>
                    <hr><a class="link-column" asp-page="/Department/Technical/ViewTechResults"><br>Wykaz wiązek VT<br></a>
                    <hr><a class="link-column" asp-page="/Department/Office/AnalizeForm"><br>Analiza<br></a>
                </div>
            </div>
        }
        @if ((await _AuthService.AuthorizeAsync(User, DefaultRequirements.AdminOrMagazyn.ToString())).Succeeded)
        {
            <div class="col text-center column-div">
                <div>
                    <i class="fa fa-bars kolumn-icon"></i>
                    <h1 style="font-size: 20px;font-weight: bold;">Magazyn</h1>
                    <a class="link-column" asp-page="/Department/Office/UploadSupplyFile"><br>Importuj plik dostawy<br></a>
                    <hr><a class="link-column" asp-page="/Department/Office/ConfirmMissing"><br>Brakujące kody (@_db.PendingDostawa.Count())<br></a>
                    <hr><a class="link-column" asp-page="/Department/Office/ViewSupply"><br>Wyświetl dostawy<br></a>
                    <hr><a class="link-column" asp-page="/Department/Office/ViewVTMagazyn"><br>Wyświetl magazyn VT<br></a>
                    <hr><a class="link-column" asp-page="/Department/Office/DifferenceReportForm"><br>Wykaz różnic<br></a>
                    <hr><a class="link-column" asp-page="/Department/Technical/ViewTechResults"><br>Wykaz wiązek VT<br></a>
                    <hr><a class="link-column" asp-page="/Department/Warehouse/Workers"><br>Stwórz raport pracowników<br></a>
                </div>
            </div>
        }
        @if ((await _AuthService.AuthorizeAsync(User, DefaultRequirements.AdminOrProd.ToString())).Succeeded)
        {
            <div class="col text-center column-div">
                <div>
                    <i class="fa fa-braille kolumn-icon"></i>
                    <h1 style="font-size: 20px;font-weight: bold;">Produkcja</h1>
                    <a class="link-column" asp-page="/Department/Office/ViewVTMagazyn"><br>Wyświetl magazyn VT<br></a>
                    <hr><a class="link-column" asp-page="/Department/Technical/ViewTechResults"><br>Wykaz wiązek VT<br></a>
                    <hr><a class="link-column" asp-page="/Department/Office/DifferenceReportForm"><br>Wykaz różnic<br></a>
                    <hr><a class="link-column" asp-page="/Department/Office/AnalizeForm"><br>Analiza<br></a>
                </div>
            </div>
        }
    </div>