@page  "{day:int},{month:int},{year:int}"
@using System.Globalization
@model ZEM_Enterprice_WebApp.Pages.Department.Office.AnalizeReportModel
@{
    ViewData["Title"] = "Analiza - raport";
}

<link rel="stylesheet" href="~/assets/customcss/FixedTable.css" />

<form method="post">
    <input type="hidden" asp-for="@Model.ForDateStart" />
    <div class="text-center" style="width:50%; margin:auto">
        <a class="btn btn-primary" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-1" href="#collapse-1" role="button" id="collapse-button" style="width:50%">Pokaż opcje filtrowania</a>
        <div class="collapse" id="collapse-1">
            <ul class="nav navbar-nav ml-auto">
                <li role="presentation" class="nav-item"><a class="nav-link" asp-page="/Department/Office/AnalizeReport" asp-route-Filter_Complete="true">Pokaż komplene</a></li>
                <li role="presentation" class="nav-item"><a class="nav-link" asp-page="/Department/Office/AnalizeReport" asp-route-Filter_NotComplete="true">Pokaż niekompletne</a></li>
                <li role="presentation" class="nav-item"><a class="nav-link" asp-page="/Department/Office/AnalizeReport">Resetuj</a></li>
            </ul>
        </div>
        <button class="btn btn-primary btn-block" id="filter-confirm-button" type="submit" style="width:50%">
            Pobierz plik csv
        </button>
    </div>
    <hr>
    <div class="tableFixHead">
        <table>
            <thead>
            <th>Data raportu</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Model.ForDateStart.ToString("d", CultureInfo.CreateSpecificCulture("de-DE"))
                    </td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <th>Rodzina</th>
                    <th>Wiązka</th>
                    <th>Przewodów na Wiązke</th>
                    <th>Kod cięty</th>
                    <th>Suma</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var record in Model.analizeEntriesFiltered)
                {
                    <tr>
                        @if (record.NextRodzina)
                        {
                            <td>@record.Rodzina</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (record.NextWiazka)
                        {
                            <td>@record.Wiazka</td>
                            <td>@record.Komplet</td>
                        }
                        else
                        {
                            <td></td>
                            <td></td>
                        }

                        <td>@record.KodCiety</td>
                        @if (record.Suma == 0)
                        {
                            <td style="background-color: red">@record.Suma</td>
                        }
                        else
                        {
                            <td>@record.Suma</td>
                        }
                        @if (record.Status)
                        {
                            <td style="color:rgb(0, 255, 0)">Komplet</td>
                        }
                        else
                        {
                            <td style="color:rgb(255, 0, 0)">Brak kompletu</td>
                        }

                    </tr>
                }
            </tbody>
        </table>
    </div>

</form>